* {
    margin: 0;
    padding: 0;
}




.light .navbar {
    background-color: #D1c4e9;
    color: #651fff;
}

.dark .navbar {
    background-color: #311b92;
    color: #D1c4e9;
}


.light * {
    background-color: rgb(230, 219, 219);
}

.dark * {
    background-color: rgb(134, 122, 124);
}